################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Materials
/README.md
/Лабораторная работа № 1.docx
/1_Лекция_С++_Основы_программирования_2.docx
