################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Materials
/README.md
/Лабораторная работа № 1.docx
/1_Лекция_С++_Основы_программирования_2.docx
/.vs/VSWorkspaceState.json
/.vs
/.vs/CMakeWorkspaceSettings.json
/.vs/Cpp-course
/.vs/Cpp-course/FileContentIndex
/.vs/Cpp-course/FileContentIndex/6135defa-7c83-4901-a1c4-ca833507f7ff.vsidx
/.vs/Cpp-course/FileContentIndex/8c7585e2-cef9-4582-bed2-3ea048a8def2.vsidx
/.vs/Cpp-course/FileContentIndex/8f8f18d2-80b7-46aa-8510-9fbdd6201712.vsidx
/.vs/Cpp-course/FileContentIndex/e13d1aaa-57a8-4a04-95a0-ef7cb722861e.vsidx
/.vs/Cpp-course/FileContentIndex/f423cb47-9cf3-4205-82b3-9cb1f44de66a.vsidx
/.vs/Cpp-course/v17
/.vs/Cpp-course/v17/.wsuo
/.vs/Cpp-course/v17/Browse.VC.db
/.vs/Cpp-course/v17/Browse.VC.db-shm
/.vs/Cpp-course/v17/Browse.VC.db-wal
/.vs/Cpp-course/v17/Browse.VC.opendb
/.vs/Cpp-course/v17/ipch/AutoPCH
/.vs/Cpp-course/v17/ipch/AutoPCH/24bab6a81ef914e5
/.vs/Cpp-course/v17/ipch/AutoPCH/24bab6a81ef914e5/LAB-1.ipch
/.vs/Cpp-course/v17/ipch/AutoPCH/24f4355e790ef688
/.vs/Cpp-course/v17/ipch/AutoPCH/24f4355e790ef688/LAB-4 .ipch
/.vs/Cpp-course/v17/ipch/AutoPCH/408eccaec2a32ca1
/.vs/Cpp-course/v17/ipch/AutoPCH/408eccaec2a32ca1/LAB-1.ipch
/.vs/Cpp-course/v17/ipch/AutoPCH/738c799b69eb1fd5
/.vs/Cpp-course/v17/ipch/AutoPCH/738c799b69eb1fd5/LAB-5.ipch
/.vs/Cpp-course/v17/ipch/AutoPCH/7aec933d4a6cbbc
/.vs/Cpp-course/v17/ipch/AutoPCH/7aec933d4a6cbbc/VCTMP9952_22496.LAB-6.00000000.ipch
/.vs/Cpp-course/v17/ipch/AutoPCH/85b5b6cb81eb8038
/.vs/Cpp-course/v17/ipch/AutoPCH/85b5b6cb81eb8038/LAB-6.ipch
/.vs/Cpp-course/v17/ipch/AutoPCH/8b94853deb7ff932
/.vs/Cpp-course/v17/ipch/AutoPCH/8b94853deb7ff932/VCTMP1260_822425.LAB-1.00000000.ipch
/.vs/Cpp-course/v17/ipch/AutoPCH/d81fecd5c0b3395b
/.vs/Cpp-course/v17/ipch/AutoPCH/d81fecd5c0b3395b/LAB-3.ipch
/.vs/Cpp-course/v17/ipch/AutoPCH/e99c6185de443ea4
/.vs/Cpp-course/v17/ipch/AutoPCH/e99c6185de443ea4/LAB-1.ipch
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
